/*#region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
    }
    

/*#endregion Common */
/*#region Utilities */

.debug{
    background-color: red;}

/*#endregion Utilities */

/*#region Header */
header{
    background-color: lightblue;
}

.header-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header-col {
    background-color: rgb(255, 60, 0);
    width: calc(100% / 3);
    height: 2rem;
    border: 1px dashed;
}

.header-col:nth-child(2) {
    width: 66%;
}

/*#endregion Header */

/*#region hero  */
.hero-row, .footer-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: cornflowerblue;
}

.hero {
    width: 50%;
    height: 150px;
    background-color: rgb(0, 73, 209);
}

/*#endregion hero  */


/*#region section  */
.row, .row-reverse{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    background-color: yellow;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 5rem;   
    }

    .row-reverse{
    flex-direction: row-reverse;   
}

.col60 {
    width: 60%;
    height: 220px;
    background-color: green;
    margin: 1rem;
}

.col40 {
    width: 40%;
    height: 220px;
    background-color: green;
    margin: 1rem    
}

.bigrow{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    background-color: yellow;
    height: 500px;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.footer-grid{
    max-width: 100%;
    height: 400px;
    
    
}
.footer-row{
    width: 80%;
    display: flex;

}
.footer-col:first-child{
    width: 300px;
    height: 200px;
    background-color: blue;
}
    
    
    

.footer-col{
    width: calc(80% / 4);
    min-height: 90%; 
    margin: 0.5rem;
    background-color: green;
}

footer{
    background-color: cornflowerblue;
}
.page-bottom-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.page-bottom-col{
    background-color: rgb(255, 60, 0);
    width: 100px;
    height: 1.5rem;
    border: 1px dashed;
}
/*#endregion section */